.destination {
  height: calc(100vh - 96px);
  color: white;
  text-align: center;
  .container {
    padding-top: 0;
    padding-bottom: 0;
    @include breakpoint("md") {
      padding-top: 40px;
      padding-left: 39px;
    }
  }

  .place-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 26px;
    position: relative;
    h4 {
      text-transform: uppercase;
      font-family: $barlow_condensed;
      letter-spacing: 2.7px;
      font-weight: 400;
      margin-bottom: 32px;
      @include breakpoint("md") {
        align-self: flex-start;
      }
      span {
        font-weight: 700;
        color: rgba(white, 0.25);
        margin-right: 18px;
      }
    }
    .place-img {
      width: 170px;
      height: 170px;
      @include fade-out;
      @include breakpoint("md") {
        width: 300px;
        height: 300px;
      }
      img {
        max-width: 100%;
      }
      &.active {
        @include fade-in;
      }
    }
  }
  .place-block {
    .place-switcher {
      display: flex;
      text-transform: uppercase;
      font-size: 14px;
      justify-content: space-evenly;
      font-family: $barlow_condensed;
      letter-spacing: 2.36px;
      color: $text_clr;
      margin-bottom: 20px;
      @include breakpoint("md") {
        width: 285.5px;
        margin-inline: auto;
      }
      li {
        padding-bottom: 8px;
        &.active,
        &:hover {
          color: white;
          border-bottom: 3px solid white;
        }
      }
    }
    .place-text {
      padding-bottom: 32px;
      border-bottom: 1px solid rgba(56, 59, 75, 1);
      margin-bottom: 32px;
      position: relative;
      height: 223px;
      @include breakpoint("md") {
        width: 573px;
        margin-inline: auto;
        margin-bottom: 28px;
        padding-bottom: 49px;
      }
      h1 {
        font: {
          size: 56px;
          family: $bellefair;
          weight: 400;
        }
        text-transform: uppercase;
        @include fade-out;
        &.active {
          @include fade-in;
        }
        @include breakpoint("md") {
          font-size: 80px;
          margin-bottom: 8px;
        }
      }
      p {
        color: $text_clr;
        @include fade-out;
        font: {
          size: 15px;
          family: $barlow;
        }
        line-height: 25px;
        &.active {
          @include fade-in;
        }
        @include breakpoint("md") {
          line-height: 28px;
          font-size: 16px;
        }
      }
    }

    .place-info {
      @include breakpoint("md") {
        display: flex;
        justify-content: space-evenly;
      }
      .distance {
        margin-bottom: 32px;
        position: relative;
        @include breakpoint("md") {
          margin: 0;
        }
      }
      .travel-time {
        position: relative;
      }
      h4 {
        font: {
          size: 14px;
          family: $barlow_condensed;
          weight: 400;
        }
        color: $text_clr;
        letter-spacing: 2.36px;
        text-transform: uppercase;
        margin-bottom: 12px;
      }
      span {
        font: {
          size: 28px;
          family: $bellefair;
        }
        text-transform: uppercase;
        @include fade-out;
        &.active {
          @include fade-in;
        }
      }
    }
  }
}

// animations

@keyframes fade-in {
  0% {
    transform: translateX(-150%);
    -webkit-transform: translateX(-150%);
    -moz-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    -o-transform: translateX(-150%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-150%);
    -webkit-transform: translateX(-150%);
    -moz-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    -o-transform: translateX(-150%);
    opacity: 0;
  }
}
