.hero {
  height: calc(100vh - 96px);
  text-align: center;

  @include breakpoint("xx-lg") {
    height: calc(100vh - 96px - 40px);
    text-align: start;
    display: flex;
    align-items: center;
  }
  .container {
    @include breakpoint("xx-lg") {
      display: flex;
      padding: 0 165px;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  .text {
    color: $text_clr;
    @include breakpoint("md") {
      margin-top: 106px - 24;
    }
    h3 {
      font-family: $barlow_condensed;
      font-weight: 400;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 2.7px;
      @include breakpoint("md") {
        font-size: 20px;
        letter-spacing: 3.38px;
      }
      @include breakpoint("xx-lg") {
        font-size: 28px;
      }
      span {
        font-family: $bellefair;
        font-size: 80px;
        color: white;
        letter-spacing: 1px;
        padding: 4px 0;
        margin: 16px 0;
        display: block;
        @include breakpoint("md") {
          font-size: 150px;
        }
      }
    }
    p {
      font-size: 15px;
      font-family: $barlow;
      line-height: 24px;
      margin-bottom: 81px;
      padding: 2.5px 0;
      @include breakpoint("md") {
        font-size: 16px;
        line-height: 28px;
        width: 444px;
        margin-inline: auto;
        margin-bottom: 156px;
      }
      @include breakpoint("xx-lg") {
        font-size: 18px;
        line-height: 32px;
      }
    }
  }

  .explore-btn {
    background-color: white;
    border: none;
    margin: 0 auto;
    @include centering-vh;
    @include circle(150px);
    cursor: pointer;
    span {
      font: {
        family: $bellefair;
        size: 20px;
      }
      letter-spacing: 1.25px;
      color: $very_black;
      text-transform: uppercase;
      margin-top: 5px;
      margin-left: 5px;
      @include breakpoint("md") {
        font-size: 32px;
        letter-spacing: 2px;
      }
    }
    @include breakpoint("md") {
      @include circle(242px);
    }
    @include breakpoint("xx-lg") {
      margin: 0;
    }
  }
}
