@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 24px;
}

body {
  background-image: url("./destination-assets/background-destination-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  body {
    background-image: url("./destination-assets/background-destination-tablet.jpg");
  }
}

@media (min-width: 1400px) {
  body {
    background-image: url("./destination-assets/background-destination-desktop.jpg");
  }
}

.resize-animation-stopper *,
body.preload * {
  -webkit-transition: none !important;
  transition: none !important;
}

header {
  height: 96px;
}

@media (min-width: 1400px) {
  header {
    margin: 40px 0 0 55px;
  }
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
}

@media (min-width: 768px) {
  header .container {
    padding: 0;
    padding-left: 31px;
    height: 100%;
  }
}

@media (min-width: 1400px) {
  header .container {
    padding: 0;
  }
}

header .logo {
  display: block;
  height: 40px;
  width: 40px;
}

@media (min-width: 768px) {
  header .logo {
    width: 48px;
    height: 48px;
  }
}

header .logo img {
  width: 100%;
}

header nav {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(43px);
          backdrop-filter: blur(43px);
  -moz-backdrop-filter: blur(43px);
  transition: right 0.5s;
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -ms-transition: right 0.5s;
  -o-transition: right 0.5s;
}

header nav.show {
  right: 0;
}

@media (min-width: 768px) {
  header nav {
    right: 0;
    position: relative;
    width: 450px;
    padding: 0 46px;
  }
}

@media (min-width: 1400px) {
  header nav {
    width: 830px;
  }
  header nav::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 56%;
    top: 50%;
    left: -53%;
    background-color: rgba(255, 255, 255, 0.3);
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
  }
}

header nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 254px;
  margin-top: 55.95px;
}

@media (min-width: 768px) {
  header nav .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto;
    margin-top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}

@media (min-width: 768px) {
  header nav .navbar li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    height: 100%;
  }
}

header nav .navbar a {
  margin-bottom: 21px;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  padding: 6px 32px;
  display: block;
}

@media (min-width: 768px) {
  header nav .navbar a {
    padding: 0;
    margin: 0;
    font-size: 14px;
    height: 100%;
    display: inline-block;
    line-height: 96px;
  }
}

header nav .navbar a span {
  font-weight: bold;
  margin-right: 12px;
}

@media (min-width: 768px) {
  header nav .navbar a span {
    display: none;
  }
}

@media (min-width: 1400px) {
  header nav .navbar a span {
    display: inline;
  }
}

header nav .navbar a:hover, header nav .navbar a.active {
  border-right: 4px solid white;
}

@media (min-width: 768px) {
  header nav .navbar a:hover, header nav .navbar a.active {
    border: none;
    border-bottom: 3px solid white;
  }
}

header nav .navbar li:first-child span {
  margin-right: 11px;
}

header nav .navbar li:nth-child(2) span {
  margin-right: 14px;
}

header nav .close {
  text-align: end;
  padding-right: 26.45px;
  padding-top: 33.95px;
}

@media (min-width: 768px) {
  header nav .close {
    display: none;
  }
}

header nav .close img {
  width: 19.1px;
  height: 19.1px;
  cursor: pointer;
}

header .burger {
  cursor: pointer;
}

@media (min-width: 768px) {
  header .burger {
    display: none;
  }
}

.destination {
  height: calc(100vh - 96px);
  color: white;
  text-align: center;
}

.destination .container {
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .destination .container {
    padding-top: 40px;
    padding-left: 39px;
  }
}

.destination .place-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
  position: relative;
}

.destination .place-heading h4 {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
  font-weight: 400;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .destination .place-heading h4 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.destination .place-heading h4 span {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.25);
  margin-right: 18px;
}

.destination .place-heading .place-img {
  width: 170px;
  height: 170px;
  position: absolute;
  bottom: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: translateX(-150%);
  -webkit-transform: translateX(-150%);
  -moz-transform: translateX(-150%);
  -ms-transform: translateX(-150%);
  -o-transform: translateX(-150%);
  z-index: -10;
  opacity: 0;
}

@media (min-width: 768px) {
  .destination .place-heading .place-img {
    width: 300px;
    height: 300px;
  }
}

.destination .place-heading .place-img img {
  max-width: 100%;
}

.destination .place-heading .place-img.active {
  position: relative;
  z-index: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  opacity: 1;
}

.destination .place-block .place-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.36px;
  color: #d0d6f9;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .destination .place-block .place-switcher {
    width: 285.5px;
    margin-inline: auto;
  }
}

.destination .place-block .place-switcher li {
  padding-bottom: 8px;
  cursor: pointer;
}

.destination .place-block .place-switcher li.active, .destination .place-block .place-switcher li:hover {
  color: white;
  border-bottom: 3px solid white;
}

.destination .place-block .place-text {
  padding-bottom: 32px;
  border-bottom: 1px solid #383b4b;
  margin-bottom: 32px;
  position: relative;
  height: 223px;
}

@media (min-width: 768px) {
  .destination .place-block .place-text {
    width: 573px;
    margin-inline: auto;
    margin-bottom: 28px;
    padding-bottom: 49px;
  }
}

.destination .place-block .place-text h1 {
  font-size: 56px;
  font-family: "Bellefair", serif;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: translateX(-150%);
  -webkit-transform: translateX(-150%);
  -moz-transform: translateX(-150%);
  -ms-transform: translateX(-150%);
  -o-transform: translateX(-150%);
  z-index: -10;
  opacity: 0;
}

.destination .place-block .place-text h1.active {
  position: relative;
  z-index: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  opacity: 1;
}

@media (min-width: 768px) {
  .destination .place-block .place-text h1 {
    font-size: 80px;
    margin-bottom: 8px;
  }
}

.destination .place-block .place-text p {
  color: #d0d6f9;
  position: absolute;
  bottom: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: translateX(-150%);
  -webkit-transform: translateX(-150%);
  -moz-transform: translateX(-150%);
  -ms-transform: translateX(-150%);
  -o-transform: translateX(-150%);
  z-index: -10;
  opacity: 0;
  font-size: 15px;
  font-family: "Barlow", sans-serif;
  line-height: 25px;
}

.destination .place-block .place-text p.active {
  position: relative;
  z-index: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  opacity: 1;
}

@media (min-width: 768px) {
  .destination .place-block .place-text p {
    line-height: 28px;
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .destination .place-block .place-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.destination .place-block .place-info .distance {
  margin-bottom: 32px;
  position: relative;
}

@media (min-width: 768px) {
  .destination .place-block .place-info .distance {
    margin: 0;
  }
}

.destination .place-block .place-info .travel-time {
  position: relative;
}

.destination .place-block .place-info h4 {
  font-size: 14px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  color: #d0d6f9;
  letter-spacing: 2.36px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.destination .place-block .place-info span {
  font-size: 28px;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: translateX(-150%);
  -webkit-transform: translateX(-150%);
  -moz-transform: translateX(-150%);
  -ms-transform: translateX(-150%);
  -o-transform: translateX(-150%);
  z-index: -10;
  opacity: 0;
}

.destination .place-block .place-info span.active {
  position: relative;
  z-index: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  opacity: 1;
}
/*# sourceMappingURL=destination.css.map */