@import "../helpers/mixins";
@import "../helpers/global-rules";

body {
  background-image: url("./home-assets/background-home-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  @include breakpoint("md") {
    background-image: url("./home-assets/background-home-tablet.jpg");
  }
  @include breakpoint("xx-lg") {
    background-image: url("./home-assets/background-home-desktop.jpg");
  }
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
@import "../sections/header";
@import "../sections/hero";
